<app-header />

  <main>
    <div id="dashboard">
      
        <app-dashboard-item [image]="{src : 'assets/status.png, alt :'asdfsd'}" title= " Server aa Status" >
          <app-server />
        </app-dashboard-item>
    
        <app-dashboard-item [image]="{src : 'assets/globe.png', alt :'asdfsd'}" title=" A aaGlobe">
          <app-traffic />
        </app-dashboard-item>
    
        <app-dashboard-item [image]="{src : 'assets/list.png', alt :'asdfsd'}" title=" A aa signal Symbol">
          <app-tickets />
        </app-dashboard-item>
      
        
    </div>
  </main>
  